.dashboard{
    display: flex;
    width: 100%;
}

.admin{
    display: flex;
    flex-direction: column;
    background-color:#8cb5ed;
    color: white;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }


.create-project{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px 10px;
}

.create-project button{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ffffff;
    color: gray;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    flex-wrap: wrap;
    cursor: pointer;
    transition: 0.3s;
}

.create-project button img {
    filter: #D3D3D3 invert(1);
}


.create-project button img {
    transition: filter 0.3s;
}

.create-project button:hover img {
    filter: brightness(0) invert(1);
}


.create-project button:hover{
    background-color: #1d8cbf8c;
    color: white;
}



.search-project-container{
    display: flex;
    border-radius: 5px;
    color: white;
    width: 100%;
    border: 1px solid #8cb5ed;
    display: flex;
    align-items: center;
}

.search-project-container img{
    height: 20px;
    background-color: #8cb5ed;
    padding: 10px; 
}

.search-project{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;  
}

.search-project{
    height: 20px;
    border-radius: 5px;
    width: 100%;
}

.search-project::placeholder{
    color: #8cb5ed;
}

.create-title{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: black;
    gap: 10px;
}

.create-project-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}


.connect{
    display: flex;
    align-items: center;
}



.create-project-gr-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.create-project-gr-btn button:nth-child(1){
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid green;
    color: green;
}

.create-project-gr-btn button:nth-child(2){
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid red;
    color: red;
}   

.create-project-gr-btn button:nth-child(1):hover{
    background-color: green;
    color: white;
}

.create-project-gr-btn button:nth-child(2):hover{
    background-color: red;
    color: white;
}

.projects-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    height: auto;
    height: 100%;
    position: relative;
    background-color: white;
}

.tech{
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.three-dot{
    position: absolute;
    display: flex;
    gap: 2px;
    width: 96%;
}

.three-dot div{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 10px;
}

.three-dot div:nth-child(1){
    position: absolute;
    right: 0px;
    cursor: pointer;
    background-color: #FF6666;
}

.three-dot div:nth-child(2){
    position: absolute;
    right: 14px;
    cursor: pointer;
    background-color:#90EE90;
}

.three-dot div:nth-child(3){
    position: absolute;
    right: 28px;
    cursor: pointer;
    background-color: #ADD8E6;
}



.project-title{
    border: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}


.projects{
    display: flex;
    gap: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.project button{
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px; 
    width: 380px;
    border-radius: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
    cursor: pointer;
    border: 1px solid gray;
    background-color: white;
    transition: 0.1s;
    color: black;
}

.project:hover{
    background-color: #0D4259;
    transition: 0.3s;
    border: none;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
}
.project-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 600;
}

.projects button{
    border: none;
    background-color: #00000000;
    cursor: pointer;
}