.view-schema{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}

.schemas{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.view-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.createBtn{
    background-color: #0D4259;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.createBtn img{
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.createBtn:hover{
    background-color: #8cb5ed;
    transition: 0.3s;
}

.api-create{
    background: #8cb5ed;
}

.api-create:hover{
    background: #0D4259;
    transition: 0.3s;
}