.view-project-container{
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.view-project-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #f3f3f3;
    padding: 10px 20px;
    margin: 10px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.view-project-head{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.project-head-name{
  display: flex;
  align-items: center;
  margin: 0px 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.view-project-title{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    width: fit-content;
    min-width: 250px;
    width: 20%;
}

.view-project-nav{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 20px;
    width: 80%;

}

.view-project-nav button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    cursor: pointer;
    color: #3498db;
    flex-grow: 1;
    font-weight: 600;
}



.view-pro-b-header h4{
    display: flex;
    align-items: center;
    gap: 4px;
}

.view-project-process{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #f3f3f3;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.projectProcess{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    height: 20%;
    background-color: black;
    border-radius: 5px;
  }

  .processLine{
    position: absolute;
    width: 100%;
    height: 5px;
    border-top: dashed 2px #8A8B8B;
    top: 25%;
    z-index: 1;
  }

  .process-title{
    margin-top: 4px;
    color: #0D4259;
  }


  .completed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.3rem;
   
}

.dot{
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #22A91F;
    box-shadow: 0px 10px 10px 0px #0000005d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .neumorphic {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }
  .processStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  .process-title{
    color: white;
  }


  /* schema */
.create-schema-container{
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.create-tabs{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.create-tabs button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  flex-grow: 1;
  border: 2px solid #f3f3f3;
}



.schema-name{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 4px;
  background-color: #22A91F;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.schema-property-head{
  font-weight: 600;
  font-size: 1.2rem;
}

.create-schema-form{
  min-width: 50%;
}
.addPropertyBtn{
  display: flex;
  align-items: center;
}
.schema-property{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.form-gr{
  display: flex;
  flex-direction: column;
}

.addPropertyBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background-color: #1d8dbf;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}
