.form-group input,select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}


.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}


.mt-2{
    margin-top: 20px;
}

.mt-1{
    margin-top: 10px;
}

label{
    font-weight: 500;
    padding: 8px 0px;
    color: gray;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th,td{
    border: 1px solid #f3f3f3;
    padding: 10px;
    text-align: start;
}

table th{
    background-color: #f3f3f3;
}

table tr:nth-child(even){
    background-color: #f3f3f3;
}

table tr:nth-child(odd){
    background-color: #ffffff;
}

table tr:hover{
    background-color: #f3f3f3;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}